name: release-linux

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - name: select gcc 10
      run: |
        sudo update-alternatives \
            --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 \
            --slave /usr/bin/g++ g++ /usr/bin/g++-10 \
            --slave /usr/bin/gcc-ar gcc-ar /usr/bin/gcc-ar-10 \
            --slave /usr/bin/gcc-nm gcc-nm /usr/bin/gcc-nm-10 \
            --slave /usr/bin/gcc-ranlib gcc-ranlib /usr/bin/gcc-ranlib-10 \
            --slave /usr/bin/gcov gcov /usr/bin/gcov-10 \
            --slave /usr/bin/gcov-dump gcov-dump /usr/bin/gcov-dump-10 \
            --slave /usr/bin/gcov-tool gcov-tool /usr/bin/gcov-tool-10
    - uses: actions/checkout@v3
    - name: Install prerequisite
      run: sudo apt-get install ninja-build
    - name: configure
      run: cmake --preset linux-gcc
    - name: build release package
      id: build
      run: |
        echo "starting to build..."
        cmake --build build/linux-gcc --config Release
        export TAG_NAME=`git describe --tags`
        echo "tag:$TAG_NAME"
        export OS_NAME=linux
        export ARCH_NAME=`uname -p`
        export FALCOR_PERF_TEST_PACKAGE=falcor_perf_test-${TAG_NAME}-${OS_NAME}-${ARCH_NAME}-beta.zip
        echo "creating zip at ${FALCOR_PERF_TEST_PACKAGE}"
        cd build/linux-gcc
        zip -r ${FALCOR_PERF_TEST_PACKAGE} bin/Release/*
        echo "FALCOR_PERF_TEST_PACKAGE=build/linux-gcc/${FALCOR_PERF_TEST_PACKAGE}" >> $GITHUB_OUTPUT
    - name: Upload Assert
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ${{ steps.build.outputs.FALCOR_PERF_TEST_PACKAGE }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
